<div class="login container pt-5">
<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form  (ngSubmit)="onSubmit()" [formGroup]="form" >
          <h1>Login Admin</h1>
          <div>
            <input type="text" class="form-control" formControlName="password" placeholder="Username" required/>
          </div>
          <br>
          <div>
            <input type="password" class="form-control" formControlName="password" placeholder="Password" required />

          </div>
          <br>
          <div>
            <button class="btn btn-primary submit" type="submit">Log in</button>
          </div>

          <div class="clearfix"></div>

          <div class="separator">
            <div class="clearfix"></div>
            <br />
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
</div>
