<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Création Catégorie</h3>
    </div>
  </div>
  <div class="clearfix"></div>
  <div class="row">
    <div class="col-md-12 col-sm-12">
      <div class="x_panel">
        <div class="x_title">
          <h2></h2>
        </div>
        <div class="x_content">
          <form #f="ngForm">
            <span class="section">Personal Info</span>
            <div class="field item form-group">
              <label class="col-form-label col-md-3 col-sm-3  label-align">title<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <input class="form-control" data-validate-length-range="6" [(ngModel)]="categorieEspace.title" data-validate-words="2" name="title" placeholder="title" required="required">
              </div>
            </div>
            <div class="field item form-group">
              <label class="col-form-label col-md-3 col-sm-3  label-align">title<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <input class="form-control" data-validate-length-range="6" [(ngModel)]="categorieEspace.type" data-validate-words="2" name="type" placeholder="title" required="required">
              </div>
            </div>
            <div class="field item form-group">
              <label class="col-form-label col-md-3 col-sm-3  label-align">description<span class="required">*</span></label>
              <div class="col-md-6 col-sm-6">
                <textarea class="form-control" required="required" [(ngModel)]="categorieEspace.description" name="description"></textarea></div>
            </div>
            <div class="ln_solid">
              <div class="form-group">
                <div class="col-md-6 offset-md-3">
                  <button type="submit" class="btn btn-success" (click)="save()">ajouter</button>
                  <button type="reset" class="btn btn-dark">annuler</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
