<header class="header">
  <div class="container">
    <div class="row">
      <div class="col-lg-2">
        <div class="header__logo">
          <a href="../../../index.html"><img src="../../../assets/img/logo-dark-no-background.png" alt=""></a>
        </div>
      </div>
      <div class="col-lg-10">
        <div class="header__menu__option">
          <nav class="header__menu">
            <ul>
              <li class=""><a href="../../../index.html">Home</a></li>
              <li class="active"><a href="/evenements">Evenements</a></li>

              <li><a routerLink="/store">Store</a></li>
              <li><a routerLink="/espaces">Espaces</a></li>
              <li><a routerLink="/blog">Blog</a></li>
              <li *ngIf="!isUserLogged">
                <a routerLinkActive="active" routerLink="/auth/login">Login</a>
              </li>
              <li *ngIf="isUserLogged"><a href="#" class="text-dark">{{loggedUserName}}</a>
                <ul class="dropdown">
                  <li><a (click)="authService.logOut()" class="logout-button">logout</a></li>
                </ul>
              </li>

            </ul>
          </nav>
        </div>
      </div>
    </div>
    <div class="canvas__open">
      <i class="fa fa-bars"></i>
    </div>
  </div>
</header>
