<div *ngIf="product != null" class="col mb-5">
  <div class="card h-100">
    <img class="card-img-top" src="assets/img/product/{{ product.image }}"/>
    <div class="card-body p-4">
      <div class="text-center">
        <h5 class="fw-bolder">{{ product.title }}</h5>
        <span class="text-muted">{{ product.description }}</span><br>
        <span class="text-muted">{{ product.price }}TND</span>
      </div>
    </div>
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center"><button class="btn btn-outline-dark mt-auto cart-button" (click)="addToCart()" [disabled]="disabledButton">Ajout au panier</button></div>
    </div>
  </div>
</div>
