<div #map style="width:100%;height:400px;border: 1px solid black;"></div>
<div class="row">
  <div class="col-lg-4 spad">
    <div class="blog__item p-5">
      <h3 class="mb-4">Categories</h3>
      <div class="col-lg-12 mt-2" *ngFor="let categorie of categorieList, let i= index">
        <a (click)="filtre(categorie._id)" class="d-flex align-items-center">
          <div><input type="radio" class="custom-checkbox" value="1" name="category"> </div>
          <div class="ml-2 category-name"> {{ categorie.title }}</div>
        </a>
      </div>
    </div>
  </div>
  <div class="col-lg-8">
    <section class="blog spad">
      <h1>Les meilleurs à Tunisie</h1>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12" *ngFor="let espace of espaceList, let i= index" >
          <div class="blog__item">
            <div class="blog__item__pic">
              <img src="{{ espace.image }}" alt="">
            </div>
            <div class="blog__item__text">
              <h2><a routerLink="/espaces/detail/{{ espace._id }}">{{ espace.title }}</a></h2>
              <p>{{ espace.description }}</p>
              <ul>
                <li>{{ espace.heure_debut }}h - {{ espace.heure_fin }}h </li>
                <li>de {{ espace.jour_debut }} à {{ espace.jour_fin }}</li>
              </ul>
            </div>
          </div>
        </div>
<!--        <div class="col-lg-12 text-center">-->
<!--          <div class="load__more">-->
<!--            <a href="#" class="primary-btn">Voir plus</a>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </section>
  </div>
</div>
