<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <h3>General</h3>
    <ul class="nav side-menu">
      <li><a routerLink="/evenements"><i class="fa fa-home"></i> Evenements <span class="fa fa-chevron-down"></span></a></li>
      <li><a routerLink="/espaces"><i class="fa fa-home"></i> Espaces</a></li>
      <li><a routerLink="product"><i class="fa fa-edit"></i>Produits</a></li>
      <li><a routerLink="/blog"><i class="fa fa-home"></i> Blog </a></li>
    </ul>
  </div>
  <div class="menu_section">
    <h3>Administration</h3>
    <ul class="nav side-menu">
      <li><a routerLink="/back-office/evenements"><i class="fa fa-mail-forward"></i> Liste des événements <span class="fa fa-chevron-down"></span></a></li>
      <li><a routerLink="/back-office/evenements/ajouter"><i class="fa fa-plus-circle"></i> Ajouter un événement <span class="fa fa-chevron-down"></span></a></li>
      <li><a routerLink="/back-office/espaces"><i class="fa fa-mail-forward"></i> Liste des Espaces </a></li>
      <li><a routerLink="/back-office/espaces/categorie"><i class="fa fa-mail-forward"></i> Liste des Categories espaces </a></li>

      <li><a routerLink="/back-office/articles"><i class="fa fa-mail-forward"></i> Liste des Articles (Blog) </a></li>
      <li><a routerLink="/back-office/reclamations"><i class="fa fa-mail-forward"></i> Liste des Reclamations </a></li>
    </ul>
  </div>

</div>
