<div class="col-md-12 col-sm-12  ">
  <div class="x_panel">
    <div class="x_title align-content-center">
      <h2>Categories des centres <small></small></h2>
      <a (click)="addform()" class="btn btn-success "><i class="fa fa-plus" aria-hidden="true"></i> Ajouter</a><br><br>
    </div>
    <div class="x_content">
      <div class="table-responsive">
        <table class="table table-striped jambo_table bulk_action">
          <thead>
          <tr class="headings">
            <th class="column-title">Titre </th>
            <th class="column-title">type </th>
            <th class="column-title">description </th>
            <th class="column-title no-link last"><span class="nobr">Action</span>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let categorieEspace of categorieEspaceList, let i = index" class="even pointer">
            <td class="">{{categorieEspace.title}}</td>
            <td class="">{{categorieEspace.type}}</td>
            <td class="">{{categorieEspace.description}}</td>
            <td class="last">
              <a (click)="delete(categorieEspace._id, i)" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></a><br><br>
<!--              <a (click)="updateFrom(categorieEspace._id)" class="btn btn-info"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>-->
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
