<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">User</th>
            <th scope="col">Title</th>
            <th scope="col">Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let article of artList">
            <th scope="row">{{article._id}}</th>
            <td>{{article.user._id}}</td>
            <td>{{article.title | slice:0:30}}...</td>
            <td><a [routerLink]="['/blog/article/',article._id]">Go</a></td>
          </tr>
        </tbody>
      </table>
</div>
